html {
    margin: 0;
    padding: 0;
    background-color: rgb(2, 0, 32);
}

nav {
    transition: .7s;
}


main {
    background-color: rgb(2, 0, 32);
    font-family: Poppins, sans-serif;
}

footer {
    background-color: black;
    padding-bottom: 5rem;
    padding-top: 2rem;
}

.nombreEsquina {
    color: aqua;
    cursor: default;
    transition: .7s;
    border-bottom: 1px solid rgba(18, 0, 117, 0);
    padding: .5rem;
    margin-left: 4rem;
}

.nombreEsquina:hover {
    border-bottom: 1px solid aqua;
    transition: .7s;
    color: rgb(163, 255, 255);
    
}

.iconIzq {
    color: white;
    transition: .7s;
    border-bottom: 1px solid rgba(255, 0, 0, 0);
    margin-right: 1rem;
}

.iconIzq:hover {
    color: aqua;
    transition: .7s;
}

.iconIzq:focus{
    color: aqua;
}

.Active {
    color: aqua;
    border-bottom: 1px solid aqua;
}

.menuHamburguesa span{
    background-color: white;
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: .7s;
}

.activeline1__bars_menu {
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars_menu {
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars_menu {
    transform: rotate(-45deg) translate(-4px, 2px);
}

.menuHamburguesa:hover span{
    background-color: aqua;
}


.containerTitle {
    background-image: url(images/videoplayback_Trim.gif);
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 15rem;
    padding-bottom: 30rem;
}

.containerTitle:before {
    content: "";
    position: absolute;
    background-color: black;
    opacity:.7;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.subtitulo, .titulo {
    position: relative;
    color: aqua;
    font-family: Poppins, sans-serif;
    font-weight: 5rem;
    padding-top: 1.5rem;
}

.tituloProyectos {
    color: aqua;
    text-align: center;
    padding: 2rem;
}

.col {
    /* margin: 2rem; */
    color: rgb(0, 234, 251);
}

.containerText {
    padding-top: 1rem;
    background-size: cover;
    padding-bottom: 1rem;
}

.filaSobreMi {
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: rgb(4, 0, 47);
    border-radius: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.colSobreMi {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2rem;
}

.textoSobreMi {
    text-align: justify;
}

.cardPortfolio {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 15px;
    background-color: rgb(4, 0, 47);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: .5s;
}

.cardPortfolio:hover {
    background-color: rgb(2, 0, 32);
    border-color: aqua;
    transition: .5s;
}

.textoTarjetaPortfolio {
    text-align: justify;
}

.botonPortfolio {
    border-color: aqua;
}

.colSobreMi > h4 {
    text-align: center;
    padding-bottom: 3rem;
    color: rgb(0, 211, 211);
}

.colSobreMi > p {
    color: rgb(0, 203, 203);
}

.filaProyectos {
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    border-radius: 2rem;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.colCardProyecto {
    background-color: rgb(2, 0, 32);
    transition: 1s;
    filter: grayscale(100%);
    border-radius: 1rem;
    margin: 1rem;
    border: 1px solid rgba(128, 128, 128, 0.443);
}

.cardProyectos {
    filter: grayscale(100%);
    color: aqua;
    transition: 1s;
}

.colCardProyecto:hover {
    transition: 1s;
    background-color: rgb(4, 0, 47);
    filter: grayscale(0%);
    border-width: 1px;
    border-color: rgba(0, 255, 255, 0.552);
    border-style: solid;
}

.colCardProyecto:hover > .cardProyectos {
    transition: 1s;
    filter: grayscale(0%);
}

.botonProyecto {
    transition: .5s;
    color: aqua;
    border-color: aqua;
}

.card {
    --bs-card-bg: ;
}

.navbar {
    --bs-navbar-active-color: aqua;
}

.navbar-toggler {
    border-color: none;
    padding: 0rem;
    margin-right: 5rem;
}

.navbar-toggler:focus{
    border-color: none;
    box-shadow: none;
}

.footerContainer {
    color: rgb(85, 85, 85);
    text-align: right;
}

::-webkit-scrollbar {
    display: none;
}